/* fonts */
@font-face {
  font-family: 'dmsans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/dmsans-regular.woff) format('woff'),
    url(/..fonts/dmsans-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'dmsans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/dmsans-medium.woff) format('woff'),
    url(../fonts/dmsans-medium.woff2) format('woff2');
}
@font-face {
  font-family: 'dmsans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/dmsans-bold.woff) format('woff'),
    url(../fonts/dmsans-bold.woff2) format('woff2');
}
@font-face {
  font-family: 'geometria';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/geometria-regular.woff) format('woff'),
    url(../fonts/geometria-regular.woff2) format('woff2');
}
:root {
  --white-color: #ffff;
  --accent-color: #ff6c00;
  --black-color: #303030;
  --grey-color: #9da4bd;
  --secondary-black-color: #555555;
  --bg-grey-color: #f7f7f7;
  --booking-bg-color: #191c26;
  --secondary-grey-color: rgba(157, 164, 189, 0.4);
}
