:root {
  --white-color: #ffff;
  --accent-color: #ff6c00;
  --black-color: #303030;
  --grey-color: #9da4bd;
  --secondary-black-color: #555555;
  --bg-grey-color: #f7f7f7;
  --booking-bg-color: #191c26;
  --secondary-grey-color: rgba(157, 164, 189, 0.4);
}
