<section class="about-section section" id="about">
  <div class="about-container container">
    <ul class="about-list list">
      <li class="about-item">
        <img
          class="about-image"
          src="./images/about/about-1.jpg"
          alt="beard haircut"
          width="270"
          height="445"
        />
      </li>
      <li class="about-item">
        <img
          class="about-image"
          src="./images/about/about-2.jpg"
          alt="head haircut"
          width="270"
          height="445"
        />
      </li>
    </ul>
    <div class="about-text-container">
      <p class="about-top-text">About</p>
      <h2 class="about-title title">Best Barbershop in your city</h2>
      <p class="about-text">
        If you want to add more confidence to your image, you should definitely
        visit us.
      </p>
      <p class="about-bottom-text">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
      <button class="about-button">Online-booking</button>
    </div>
  </div>
</section>
