<section class="gallery-section section">
  <div class="gallery-container container">
    <p class="gallery-text">In Latin, "barba" means "beard"</p>
    <h2 hidden="">Gallery</h2>
    <ul class="gallery-list list gallery">
      <li class="gallery-item">
        <a href="./images/gallery/gallery-1@3x.jpg">
          <img
            class="gallery-image"
            src="./images/gallery/gallery-1.jpg"
            alt="examples photo"
            width="270"
            height="360"
          />
        </a>
      </li>
      <li class="gallery-item">
        <a href="./images/gallery/gallery-2@3x.jpg">
          <img
            class="gallery-image"
            src="./images/gallery/gallery-2.jpg"
            alt="examples photo"
            width="270"
            height="360"
          />
        </a>
      </li>
      <li class="gallery-item">
        <a href="./images/gallery/gallery-3@3x.jpg">
          <img
            class="gallery-image"
            src="./images/gallery/gallery-3.jpg"
            alt="examples photo"
            width="270"
            height="360"
          />
        </a>
      </li>
      <li class="gallery-item">
        <a href="./images/gallery/gallery-4@3x.jpg">
          <img
            class="gallery-image"
            src="./images/gallery/gallery-4.jpg"
            alt="examples photo"
            width="270"
            height="360"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
