<header class="header" id="header">
  <div class="header-container container">
    <nav class="nav-container">
      <a class="logo-link link">
        <svg class="icon-logo">
          <use href="./images/sprite/sprite.svg#icon-logo"></use></svg
      ></a>
      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="#prices">Services and prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="#team">Barbers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="#booking">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="contact-header-container">
      <a class="tel-link link" href="tel:+380441111111">+38 044 111 11 11</a>
      <button class="header-button" type="button">Online-booking</button>
    </div>
  </div>
</header>
