<section class="hero-section">
  <div class="hero-container container">
    <!-- Social -->
    <div class="hero-social-container">
      <!-- <ul class="hero-social-list list">
        <li class="hero-social-item">
          <a class="hero-social-link link">Instagram</a>
        </li>
        <li class="hero-social-item">
          <a class="hero-social-link link">Youtube</a>
        </li>
      </ul> -->
    </div>

    <!-- Hero-text -->
    <div class="hero-text-container">
      <p class="hero-top-text">A hair salon for men in Kyiv</p>
      <h1 class="hero-title title animate__animated animate__rubberBand">
        BarberShop
      </h1>
      <p class="hero-bottom-text">
        We are experts in trendy men’s haircuts. We work quickly, carefully and
        with style.
      </p>
    </div>
  </div>
</section>
