<section class="">
  <div class="container-slick">
    <div class="responsive">
      <div><img src="../images/gallery/gallery-1.jpg" alt="" /></div>
      <div><img src="../images/gallery/gallery-2.jpg" alt="" /></div>
      <div><img src="../images/gallery/gallery-3.jpg" alt="" /></div>
      <div><img src="../images/gallery/gallery-4.jpg" alt="" /></div>
      <div><img src="../images/gallery/gallery-5.jpg" alt="" /></div>
      <div><img src="../images/gallery/gallery-6.jpg" alt="" /></div>
    </div>
</section>
<section class="hotel">
	<label class="select-title" for="people">NUMBER OF PEOPLE</label>
	<select class="select-people" name="people" id="people">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
</select>
  <div class="hotel-wrap">
    <div>
      <ul class="hotel-list list
	">
        <li class="hotel-item">
          <img
            src="../images/mimino/image.jpg"
            width="320px"
            height="260px"
            alt=""
          />
        </li>
        <li class="hotel-item">
          <img
            src="../images/mimino/image-1.jpg"
            width="320px"
            height="260px"
            alt=""
          />
        </li>
      </ul>
    </div>
    <img class="hotel-image"
      src="../images/mimino/image-4.jpg"
      width="420px"
      height="548px"
      alt=""
    />
    <div>
      <ul class="hotel-list list
	">
        <li class="hotel-item">
          <img
            src="../images/mimino/image-2.jpg"
            width="320px"
            height="260px"
            alt=""
          />
        </li>
        <li class="hotel-item">
          <img
            src="../images/mimino/image-3.jpg"
            width="320px"
            height="260px"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
    </div>
</section>
