<section class="team-section section" id="team">
  <div class="team-container container">
    <p class="team-top-text">For true enjoyers of the atmosphere</p>
    <h2 class="team-title title">Our barbers</h2>
    <ul class="team-list list">
      <li class="team-item">
        <img
          class="team-photo"
          src="./images/team/john.jpg"
          alt="Barber John Smith"
          width="370"
          height="346"
        />
        <div class="team-thumb">
          <h3 class="team-subtitle">John Smith</h3>
          <p class="team-text">Extreme Barber</p>
          <ul class="team-social-list list">
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon instagram">
                  <use
                    href="./images/sprite/sprite.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon twitter">
                  <use
                    href="./images/sprite/sprite.svg#icon-twitter"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon facebook">
                  <use
                    href="./images/sprite/sprite.svg#icon-facebook"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon linkedin">
                  <use
                    href="./images/sprite/sprite.svg#icon-linkedin"
                  ></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-photo"
          src="./images/team/michele.jpg"
          alt="Barber Michele Doe"
          width="370"
          height="346"
        />
        <div class="team-thumb">
          <h3 class="team-subtitle">Michele Doe</h3>
          <p class="team-text">Extreme Barber</p>
          <ul class="team-social-list list">
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon instagram">
                  <use
                    href="./images/sprite/sprite.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon twitter">
                  <use
                    href="./images/sprite/sprite.svg#icon-twitter"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon facebook">
                  <use
                    href="./images/sprite/sprite.svg#icon-facebook"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon linkedin">
                  <use
                    href="./images/sprite/sprite.svg#icon-linkedin"
                  ></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-photo"
          src="./images/team/alan.jpg"
          alt="Barber Alan Black"
          width="370"
          height="346"
        />
        <div class="team-thumb">
          <h3 class="team-subtitle">Alan Black</h3>
          <p class="team-text">Extreme Barber</p>
          <ul class="team-social-list list">
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon instagram">
                  <use
                    href="./images/sprite/sprite.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link" href
                ><svg class="social-icon twitter">
                  <use
                    href="./images/sprite/sprite.svg#icon-twitter"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon facebook">
                  <use
                    href="./images/sprite/sprite.svg#icon-facebook"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-team-link link" href
                ><svg class="social-icon linkedin">
                  <use
                    href="./images/sprite/sprite.svg#icon-linkedin"
                  ></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
